body {font-family: 'Roboto', sans-serif;
color: #434455;
background-color: #ffffff;
;}

/* reset */

a {text-decoration: none;}
ul, ol {list-style-type: none;
        margin: 0;
        padding: 0;}

h1, h2, h3, h4, h5, h6, p {margin: 0;}

img {
    display: block;}

/* common */

.container {max-width: 1158px;
            padding: 0 15px;
            margin: 0 auto;}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* header */ 

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.page-header-nav {
    display: flex;
    align-items: center;
}
.logo {font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.header-logo .logo-part {color: #2E2F42;}

.footer-logo .logo-part {
    color: #F4F4FD;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
    position: relative;
}

.nav-link.current::after {
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    left: 0;
}

.page-header-address {font-style: normal;
margin-left: auto;}

.address-list {
    gap: 40px;
    display: flex;
    align-items: center;
}

.address-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus,
.nav-link:hover,
.nav-link:focus,
.nav-link.current
{
color: #404BBF;
} 

.page-footer {background-color: #2E2F42;
            padding-top: 100px;
            padding-bottom: 100px;
}

/* hero */

.hero {
    background-color: #2E2F42;
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image:
            linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)
            ),
            url("../images/office.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    
}

.hero-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    color: #FFFFFF;}

.hero-button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 16px 32px;
    border: none;  
    border-radius: 4px;
    min-width: 169px;
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

/* advantages */

.advantages-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.advantages-list {
    display: flex;
    gap: 24px;}

.advantages-item {width: calc((100% - 3 * 24px) / 4);}

.advantages-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: #F4F4FD;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
}

.advantages-text {
    line-height: 1.5;
    letter-spacing: 0.02em;}

/* team */

.team {
    background-color: #F4F4FD;
    }

.team-title {text-transform: capitalize;
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;}

.team-item {background-color: #ffffff;
    width: calc((100% - 3 * 24px) / 4);
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}


    .team-name {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-position {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.team-item-content {
    padding: 32px 0;}

.team-social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.social-link {
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404BBF;
}

.social-icon {
    width: 16px;
    height: 16px;
    fill: #F4F4FD;
}
/* portfolio */

.portfolio-title {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 2 * 24px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.portfolio-category {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}

.portfolio-item-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;}

.portfolio-item:hover .overlay-text {
            transform: translateY(0);
        }

.portfolio-thumb {
    position: relative;
    overflow: hidden;
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    color: #F4F4FD;
    padding: 40px 32px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .overlay-text,
.portfolio-link:focus .overlay-text {
    transform: translateY(0);
}
/* footer */

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}

.footer-logo {display: inline-block;
    margin-bottom: 16px;}

.footer-wrapper {
    display: flex;
    align-items: baseline;
}

.footer-main-wrap {
    margin-right: 120px;
}

.footer-social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-social-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31D0AA;
}

.social-icon {
    width: 24px;
    height: 24px;
    fill: #F4F4FD;
}
.footer-subscribe {
    margin-left: auto;
}

.footer-subscribe .footer-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.subscribe-form {
    display: flex;
    gap: 24px;
}

.subscribe-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: transparent;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.subscribe-input::placeholder {
    color: #ffffff;
    opacity: 0.6;
}

.subscribe-btn {
    min-width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 8px 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-icon {
    fill: #ffffff;
    margin-left: 16px;
}

/* modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    padding: 72px 24px 24px 24px;

    transform: translate(-50%, -50%);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
      transform: translate(-50%, -100%);
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
    fill: #ffffff;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-field-wrap {
    margin-bottom: 8px;
}

.modal-field-wrap.textarea-wrap {
    margin-bottom: 16px;
}

.modal-input-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.modal-input-container {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4d5ae5;
}

.modal-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus+.modal-input-icon {
    fill: #4d5ae5;
}

.modal-textarea {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    resize: none;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
    border-color: #4d5ae5;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.checkbox-wrap {
    margin-bottom: 24px;
}

.modal-check-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    align-items: center;
    user-select: none;
}

.modal-checkbox-custom {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked+.modal-check-label .modal-checkbox-custom {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.privacy-policy-link {
    color: #4d5ae5;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.send-btn {
    align-self: center;
    padding: 16px 64px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}


